/* color name */
/* h1 {
    color: DarkCyan;} */

 /* hex code */
    /* h1 {
    color: #ee3e80;} */

/* rgb value */
    /* h1 {
    color: rgb(100,100,90);} */

    /* background color */

    /* by name */

    /* body{
        background-color: wheat;
        color: red;
    } */
    /* div{
        background-color: wheat;
        color: red;
    } */

    /* opacity */
    /* #div1{
        background-color: green;
        opacity: 0.3;
    } */
    /* img{
        opacity: 0.3;
    } */
   